.calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    border: 3px solid #5c5050;
    border-radius: 5px;
    padding: 10px;
}

h1 {
    margin-left: 390px;
    color: rgb(100, 21, 179);


}

body {
    background-color: honeydew;
}

#header {
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}

#result {
    font-size: 20px;
    padding: 10px;
    border: none;
    background-color: #bdb0b0;
    border-radius: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid #5c5050;
}

button {
    cursor: pointer;
    width: 100%;
    background-color: #f5f5f5;
    border: none;
    font-size: 16px;
    border-radius: 3px;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #ccc;
}
