.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 3px solid #5c5050;
    border-radius: 5px;
    padding: 10px;
}
.calculator{
    background: transparent;
    box-shadow: 0px 3px 20px #6799da;
}
#h1 {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 800px;
    color: rgb(21 43 179);
    font-size: 45px;
}

body {
    background-color: honeydew;
}

#header {
    justify-content: center;
    align-items: center;
    color: cornflowerblue;
}

#result {
    padding: 30px;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    background-color: rgb(177 202 238);
    border-radius: 25px;
    height: 200px;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 5px;
    border: 1px solid #5c5050;
    border-radius: 50%;
}

button {
    cursor: pointer;
    width: 100%;
    background-color:  #B0C4DE;
    border: none;
    font-size: 50px;
    border-radius: 50px;
    border-color: antiquewhite;
}

button:hover {
    background-color: #4fc1dd;
}

.operator {
    background-color: #ccc;
}
.cen{
    padding: 10px;
    display: table-cell;
    height: 50px ;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #5c5050;
    box-sizing: content-box;
    box-shadow: -8px -8px 15px #97bae9;
}
.left{
    padding: 10px;
    display: table-cell;
    height: 50px ;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #5c5050;
    box-sizing: content-box;
    box-shadow: -8px -8px 10px #97bae9;
}
.right{
    padding: 10px;
    display: table-cell;
    height: 50px ;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #5c5050;
    box-sizing: content-box;
    text-align: center;
    box-shadow: -8px -8px 15px #97bae9;

}
.op{
    padding: 10px;
    display: table-cell;
    height: 50px ;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #5c5050;
    box-sizing: content-box;
    box-shadow: -8px -8px 15px #97bae9;

}

